@{
    var action = @ViewContext.RouteData.Values["action"].ToString();

}
<style>
    .main-banner::before {
        width: 98%;
        z-index: -1;
        background-image: url("/assets/img/slide/slide-1.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        max-height: 15em;
        position: absolute;
        /*filter:blur(1px);*/
        height: 15em;
        content: '';
    }
</style>
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top antobder-center">

    <div class="container" style="max-width:inherit!important">

        <div class="row main-banner">
            <div class="col-md-2">
                <div class="logo left-logo">
                    <img class="img-fluid" title="Antalya Otistik Bireyler Spor Kulübü Derneği"
                         src="~/assets/img/logo-left.png" />

                </div>
            </div>
            <div class="col-md-8" style="padding: unset !important;background-color: rgb(0 0 0 / 48%);">
                <div id="orgname">
                    <h1>
                        <a href="@Url.Action("Index","Home")">
                            ANTALYA OTİSTİK BİREYLER SPOR KULÜBÜ DERNEĞİ
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-md-2">

                <div class="right-logo">
                    <img class="img-fluid" style="max-height:15em;" title="Eğitimde feda edilecek fert yoktur!"
                         src="~/assets/img/logo-right.png" />
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top antobder-center">
    <div class="d-flex align-items-center">

        <h2 class="logo mr-auto">
            <a href="@Url.Action("Index","Home")">
                ANTOBDER
            </a>
        </h2>
        <div class="container width-inherit">
            <div class="row">

                <nav id="main-nav" class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="@(action=="Index"?"active":"")"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                        <li class="drop-down @(action=="About"?"active":"")">
                            <a href="#">Derneğimiz</a>
                            <ul>
                                <li><a href="@Url.Action("GetLegalDocument","Home")">Tüzük</a></li>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Dernek Tarihçesi"})">Dernek Tarihçesi</a></li>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Yönetim Kurulu"})">Yönetim Kurulu</a></li>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Gönüllü ve Bağışçılar"})">Gönüllü/Bağışçılar</a></li>

                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">Otizm</a>
                            <ul>
                                <li class=""><a href="@Url.Action("ShowPage","Home",new { id="Otizim Tanımı"})">Tanımı</a></li>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Otizim Belirtileri"})">Belirtileri</a></li>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Ülkemizde Otizim ve Kurumları"})">Ülkemizde Otizim ve Kurumları</a></li>

                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">Faaliyetlerimiz</a>
                            <ul>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="antobder,Eğitim,faaliyet"})">Eğitim Faaliyetleri</a></li>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="antobder,Spor,faaliyet"})">Spor Faaliyetleri</a></li>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="antobder,Kültürel ve Sosyal,faaliyet"})">Kültürel ve Sosyal Faaliyetler</a></li>

                            </ul>
                        </li>

                        <li class="drop-down ">
                            <a href="#">Bizim Otizm Köyü</a>
                            <ul>
                                <li><a href="@Url.Action("ShowPage","Home",new { id="Köy Tanım ve Tarihçe"})">Tanım ve Tarihçe</a></li>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="bizim otizm köyü,Eğitim,faaliyet"})">Eğitim Faaliyetleri</a></li>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="bizim otizm köyü,Spor,faaliyet"})">Spor Faaliyetleri</a></li>
                                <li><a href="@Url.Action("ListArticle","Content",new { tags="bizim otizm köyü,Kültürel ve Sosyal,etkinlik"})">Kültürel ve Sosyal Faaliyetler</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("ListArticle","Content",new { tags="duyuru"})">Duyurular</a></li>
                        <li><a class="d-none d-lg-block" href="#contact">İletişim</a></li>
                        <li><a class="d-md-block d-lg-none d-sm-block" href="#contact1">İletişim</a></li>

                    </ul>
                </nav>


            </div>
        </div>


    </div>
</header><!-- End Header -->