<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Antobder - @ViewBag.Title</title>
    <meta content="Antalya Otistik Bireyler Spor Kulübü Derneği" name="description">
    <meta content="antalya,otistik,dernek,köy,bireyler" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.ico" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css?t=@DateTime.Now.Ticks" rel="stylesheet">

    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v9.0" nonce="NFMaX9F4"></script>*@

</head>

<body class="antobder-center">


    <div id="fb-root"></div>
    @Html.Partial("_Header")

    <main id="main">
        <div class="container contact" style="max-width:inherit!important;">
            <div class="row">

                <div class="col-md-2 col-lg-2 d-none d-lg-block">
                    <div class="row">
                        <a href="https://www.tossfed.gov.tr/" target="_blank" title="Türkiye Özel Sporcular Spor Federasyonu">
                            <img class="info" src="~/assets/img/tussfed.jpg" alt="Türkiye Özel Sporcular Spor Federasyonu" />

                        </a>
                    </div>
                    <div class="row">
                        <a href="http://www.odfed.org/uyelerimiz/antobder/" target="_blank" title="Otizm Dernekleri Federasyonu">
                            <img class="info" src="~/assets/img/odfed.jpg" alt="Otizm Dernekleri Federasyonu" />

                        </a>
                    </div>
                    <div class="row" id="contact">

                        <div class="info">
                            <div>
                                <h4>
                                    BANKA HESAP NUMARALARIMIZ:
                                </h4>
                                <p>
                                    <div>
                                        Halk Bankası: TR67 0001
                                        2009 5700 0012 1000 99
                                    </div>
                                    <br />

                                    <div>
                                        Ziraat Bankası: TR 50
                                        0001 0005 9553 8639 5250 01
                                    </div>
                                </p>
                            </div>

                            <div class="address">
                                <h4>Adres:</h4>
                                <p>
                                    Altındağ Mah. 151. Sk No:18/6,
                                    Muratpaşa / ANTALYA<br />
                                    Posta Kodu: 07050<br />
                                    (15 nolu aile sağlığı merkezi üst katı)
                                </p>
                            </div>

                            <div class="email">
                                <h4>E-Posta:</h4>
                                <p><span>antobder</span>@@hotmail.com</p>
                            </div>

                            <div class="phone">
                                <h4>Telefon:</h4>
                                <p>+90 242 332 32 77 | +90 552 236 26 60</p>
                            </div>



                            <div>
                                <h4>Sosyal Medya</h4>
                                <p>
                                    <a href="https://www.facebook.com/antobder" style="color: #17a2b8">
                                        <i class="icofont-facebook"></i> Facebook
                                    </a><br />
                                    <a href="https://instagram.com/antobder">
                                        <i class="icofont-instagram"></i>
                                        Instagram
                                    </a>
                                </p>
                            </div>

                            Kalekapı Vergi dairesi VKN:070 0320 742

                            <div>
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="505" height="500" id="gmap_canvas"
                                                src="https://maps.google.com/maps?q=Alt%C4%B1nda%C4%9F%20mah.151.sok.No%3A18%2F6%20antalya&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                                    </div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                        }

                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                @{
                    var editorials = _Extentions.GetEditorials();

                }
                <div class="col-lg-@(editorials.Count()>0?"8":"10") col-md-12">
                    @RenderBody()

                    <section class="info d-md-block d-sm-block col-md-12 d-lg-none" id="contact1">
                            <div>
                                <h4>
                                    BANKA HESAP NUMARALARIMIZ:
                                </h4>
                                <p>
                                    <div>
                                        Halk Bankası: TR67 0001
                                        2009 5700 0012 1000 99
                                    </div>
                                    <br />

                                    <div>
                                        Ziraat Bankası: TR 50
                                        0001 0005 9553 8639 5250 01
                                    </div>
                                </p>
                            </div>

                            <div class="address">
                                <h4>Adres:</h4>
                                <p>
                                    Altındağ Mah. 151. Sk No:18/6,
                                    Muratpaşa / ANTALYA<br />
                                    Posta Kodu: 07050<br />
                                    (15 nolu aile sağlığı merkezi üst katı)
                                </p>
                            </div>

                            <div class="email">
                                <h4>E-Posta:</h4>
                                <p><span>antobder</span>@@hotmail.com</p>
                            </div>

                            <div class="phone">
                                <h4>Telefon:</h4>
                                <p>+90 242 332 32 77 | +90 552 236 26 60</p>
                            </div>



                            <div>
                                <h4>Sosyal Medya</h4>
                                <p>
                                    <a href="https://www.facebook.com/antobder" style="color: #17a2b8">
                                        <i class="icofont-facebook"></i> Facebook
                                    </a><br />
                                    <a href="https://instagram.com/antobder">
                                        <i class="icofont-instagram"></i>
                                        Instagram
                                    </a>
                                </p>
                            </div>

                            Kalekapı Vergi dairesi VKN:070 0320 742

                            <div>
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="505" height="500" id="gmap_canvas"
                                                src="https://maps.google.com/maps?q=Alt%C4%B1nda%C4%9F%20mah.151.sok.No%3A18%2F6%20antalya&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                                    </div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                        }

                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                        }
                                    </style>
                                </div>
                            </div>

                    </section>
                </div>
                <div class="col-md-2 col-lg-2  d-none d-lg-block" style="@(editorials.Count()>0?"":"display:none!important;")">

                    @foreach (var item in editorials)
                    {
                        <div class="row">
                            <div class="info">
                                <article>
                                    <a href="@Url.Action("ReadArticle","Content",new { id=item.CID})">
                                    <img src="/@(item.GenerateRelativePath()+"\\"+item.ImageFile)" title="image" />
                                    <h5 class="article-header">@item.Header</h5>

                                    </a>
                                </article>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </main><!-- End #main -->

    @Html.Partial("_Footer")
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>